<section>
  {{#if userDetails}}
        <h3 style="margin-left: 7%;" class="">Welcome back {{userDetails.user.name}} 👋🏻</h3>
  {{/if}}
  <div class="album py-5 bg-body-emphasis">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-3">
        {{#each products}}
        <div class="product-grid">
          <div class="product-container">
            <div class="product-image-container">
              <img class="product-image" src="{{this.image}}">
            </div>

            <div class="product-name limit-text-to-2-lines">
              {{this.name}}
            </div>

            <div class="product-rating-container">
              <img class="product-rating-stars" src="">
              <div class="product-rating-count link-primary">
                {{this.rating.count}}
              </div>
            </div>

            <div class="product-price">
              {{this.priceCents}}
            </div>

            <div class="product-quantity-container">
              <select>
                <option selected="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>

            <div class="product-spacer"></div>

            <div class="added-to-cart">
              <img src="images/icons/checkmark.png">
              Added
            </div>

            <button class="add-to-cart-button button-primary js-add-to-cart" data-product-id="${product.id}">
              <a style="text-decoration: none; color: black; font-weight: 500;" href="/add-to-cart/{{this._id}}/" onclick="addToCartBtn(this)">Add to Cart</a>
            </button>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>

<script>
  function addToCartBtn(button) {
    // Disable the button to prevent multiple clicks
    button.disabled = true;
    // Change the button text to 'Item added'
    button.textContent =  'Item added';
    //Change the button text to 'Add to cart' after 2 seconds
    setTimeout(() => {
      button.textContent =  'Add to cart';
    },2000);
  }
</script>